.parent {
    &-ctn {
        width: 100%;
        height: 100%;
        padding: 0px;
    }
}

.grille {
    border-collapse: collapse;
}

.cell {
    border: solid 1px black;
    width: 50px;
    height: 50px;
}

.cell-obstacle {
    background-color: grey;
}


.cell-weaponlv1 {
    background: no-repeat center/80% url('../assets/lv1.png');
    // background-color: black;
}

.cell-weaponlv2 {
    background: no-repeat center/80% url('../assets/lv2.png');
    // background-color: maroon;
}

.cell-weaponlv3 {
    background: no-repeat center/80% url('../assets/lv3.png');
    //background-color: yellow;
}

.cell-weaponlv4 {
    background: no-repeat center/80% url('../assets/lv4.png');
    // background-color: green;

}

.cell-player {
    background-color: blue;
}

.cell-player1 {
    background: no-repeat center/80% url('../assets/perso1.jpg');
}

.cell-player2 {
    background: no-repeat center/80% url('../assets/perso2.jpg');
}

// .cell-playerperso3 {
//     background: no-repeat center/80% url('../assets/perso3.jpg');
// }

// .cell-playerperso4 {
//     background: no-repeat center/80% url('../assets/perso4.png');
// }

div#targetPl {
    position: relative;
    float: right;
    top: -520px;
    margin-right: 50px;
}

div#targetWp {
    position: relative;
    float: right;
    top: -520px;
    margin-right: 20px;
}