.parent {
    &-ctn {
        width: 100%;
        height: 100%;
        padding: 0px;
    }
}

.grille {
    border-collapse: collapse;
}

.cell {
    border: solid 1px black;
    width: 50px;
    height: 50px;
}

.cell-move {
    background-color: red;
}

.cell-obstacle {
    background-color: grey;
}

.cell-weapon {
    width: 40px;
    height: 40px;
    margin: 0px;
}

.cell-weapon1 {
    background: no-repeat center/100% url('../assets/lv1.png');

}

.cell-weapon2 {
    background: no-repeat center/100% url('../assets/lv2.png');
    // background-color: maroon;
}

.cell-weapon3 {
    background: no-repeat center/100% url('../assets/lv3.png');
    //background-color: yellow;
}

.cell-weapon4 {
    background: no-repeat center/100% url('../assets/lv4.png');
    // background-color: green;

}

.cell-player {
    background-color: blue;
}

.cell-player1 {
    background: no-repeat center/80% url('../assets/perso1.jpg');
}

.cell-player2 {
    background: no-repeat center/80% url('../assets/perso2.jpg');
}

.cell-player3 {
    background: no-repeat center/80% url('../assets/perso3.jpg');
}

.cell-player4 {
    background: no-repeat center/80% url('../assets/perso4.png');
}

div#targetPl {
    position: relative;
    float: right;
    top: -520px;
    margin-right: 50px;
}

div#targetWp {
    position: relative;
    float: right;
    top: -520px;
    margin-right: 20px;
}

div#cardPlayer {
    position: relative;
    float: right;
}